.background {
    background-image: url('../../../assets/images/concepts/cot-out-text.gif');
    background-color: black;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    position: absolute;
    font-size: 12.02em;
    font-weight: bolder;
    width: 90%;
    z-index: 0;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.cutout{
    font-size: 12em;
    background-image: url('../../../assets/images/concepts/cot-out-text.gif');
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    z-index: 1;
}