.App {
  scroll-behavior: smooth;
  background-image: linear-gradient(
    to bottom,
    black,
    #0099cc,
    #33b5e5,
    #9adcff,
    white
  );
  min-height: 93vh;
  overflow-x: hidden;
  /* transition: all 2s ease-in-out; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
