
.my-avatar{
    border-radius: 50%;
    object-fit: contain;
    width: 200px;
}
.full-name{
    font-weight: 340;
    font-size: 5rem;
    color: black;
}

@media (max-width: 576px) { .full-name{font-size: 1.93rem;}.my-avatar{margin-top: 4rem;} }


@media (min-width: 576px) and (max-width:768px) { .full-name{font-size: 3rem;} }


@media (min-width: 768px) and (max-width:992px) { .full-name{font-size: 4rem;} }


@media (min-width: 992px) { .full-name{font-size: 5rem;} }